name: Update Manifests (Komac)
on:
  schedule:
    - cron: '17 * * * *' 
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-apps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.KOMAC_TOKEN }}

      - name: Run Komac (Auto Scan)
        uses: michidk/run-komac@v2
        with:
          args: update --repo ${{ github.repository }} --token ${{ secrets.KOMAC_TOKEN }} --submit-pr false --commit-direct true
